<section class="projects-wrapper" id="photo">
  <header class="header-content">
    <span class="badge-works">Selected Works</span>
    <h2 class="main-title">
      Portfólio <span>Digital</span>
    </h2>
  </header>

  <div class="projects-grid">
    <article class="project-card accent-green">
      <img src="https://images.unsplash.com/photo-1523350165414-082d792c41e2?auto=format&fit=crop&q=80&w=800" />
      <div class="info">
        <small>Photography</small>
        <h3>Essência da Floresta</h3>
      </div>
    </article>

    <article class="project-card accent-orange">
      <img src="https://images.unsplash.com/photo-1611162617474-5b21e879e113?auto=format&fit=crop&q=80&w=800" />
      <div class="info">
        <small>Strategy</small>
        <h3>Branding Urbano Rio</h3>
      </div>
    </article>

    <article class="project-card wide accent-roxo">
      <img src="https://images.unsplash.com/photo-1620641788421-7a1c342ea42e?auto=format&fit=crop&q=80&w=800" />
      <div class="info">
        <small>Digital Art</small>
        <h3>Afrofuturismo em Pixels</h3>
      </div>
    </article>

    <article class="project-card accent-blue">
      <img src="https://images.unsplash.com/photo-1551434678-e076c223a692?auto=format&fit=crop&q=80&w=800" />
      <div class="info">
        <small>Social Media</small>
        <h3>Campanha Amazônia</h3>
      </div>
    </article>
  </div>
</section>
